html {zoom: 120%;}
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Cormorant Garamond', serif;
}
a {
    color: #2b20fc;
    text-decoration: none;
}
a:visited {
    color: #2b20fc;
  }
h1 {
text-align: center;
font-family: 'Cormorant Garamond', serif;
}
h1, p {
    margin: 1em auto;
    max-width: 500px;
    padding: 0 20px 0;
}
form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}
input, textarea, select {
    width: 100%;
    margin: 10px 0 0 0;
    min-height: 2em;
    padding: 10px 20px;
    border: 1px solid #fff;
    background-color: #000;
    color: #ffb85b;
    font-family: 'Cormorant Garamond', serif;
    border-radius: 16px;
    box-sizing: border-box;
}
label {
    display:block;
    margin: 15px 0 0 0;
}
fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 1px solid #fff;
}
fieldset:last-of-type {
    border-bottom: none;
}
input[type=submit] {
    display: block;
    background-color: white;
    margin: 1em auto;
    height: 2.3em;
    font-size: 1.1rem;
    max-width: 500px;
    font-family: 'Cormorant Garamond', serif;
}